
@font-face {
    font-family: "Exo2";
    src: url(../src/assets/Exo_2/Exo2-VariableFont_wght.ttf);
}

*{
    font-family: Exo2, Arial, Helvetica, sans-serif;
}
html{
    background-color: rgb(128, 102, 160);
    
}

body{
    margin-top: -4em;
}
.app{
    max-width: 95%;
    margin: auto;
    background-color: rgb(103, 95, 111);
    border-radius: 1em;
}

.app header{
    display: absolute;
    height: 2em;
    color: antiquewhite;
    font-size: 60px;
    opacity: 0.8;
}

#headingText{
    display: absolute;
    margin-left: 0.2em;
}
main{
    max-width: 93%;
    margin: auto;
}

.backgroundPseudo{
    max-width: 80%;
    margin: auto;
    background-image: url("./assets/Pile-of-newspapers.jpg.webp");
    background-size: contain;
    height: 100%;
    opacity: 1;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 1em;
}
header, footer{
    max-width: 90%;
    height: 15vh;
    margin: auto;
    background-color: rgb(109, 62, 152);
    border-radius: 2vh;
}

.articleCard{
    max-width: 70%;
    margin: auto;
    display: flex;
    margin-bottom: 2vh;
    margin-top: 2vh;
    justify-content: space-between;
    background-color: rgb(85, 65, 103);
    border-radius: 1em;
    
}

.articleCard:hover{
    border-style: solid;
    border-color: rgb(97, 158, 238);
    border-width: 0.5em;
    transition-duration: 0.1s
}

.articleTitle{
    margin-left: 3vw;
    color:antiquewhite
}

#readNowButton, .backToAll{
    background-color: rgb(109, 62, 152);
    color: antiquewhite;
    min-width: 15%;
    border-radius: 1em;
    border-style: inset;
}

#readNowButton:hover{
 background-color: rgb(51, 103, 171);
transition-duration: 0.4s;
}



.backToAll{
    margin-bottom: 2em;
}

.backToAll:hover{
    background-color: rgb(147, 90, 200);
    transition-delay: 0.2s;
}


.wholeArticle{
    display: block;
    text-align: center;
    margin: auto;
    background-color: rgb(159, 123, 204);
    width: 90%;
    margin-top: 1em;
    border-radius: 1em;
    border-color: rgb(138, 125, 150);
    border-width: 0.4em;
    border-style:outset;
    opacity: 0.95;
}

.wholeArticle img{
    width: 95%;
    border-radius: 1em;
}

.wholeArticle p{
    width: 70%;
    text-align: start;
    line-height: 2.6em;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    color:antiquewhite;
    background-color: rgb(103, 95, 111);
    padding: 1em;
    font-weight: 300;
    opacity: 0.9;
    border-radius: 1em;
    border-color: rgb(138, 125, 150);
    border-width: 0.4em;
    border-style: ridge;
}

.allHeadings{
    color: antiquewhite;
    background-color: rgb(103, 95, 111);
    padding: 1em;
    margin-bottom: 1em;
    opacity: 0.7;
    border-radius: 1em;
}

.wholeArticle button {
    width: 20%;
    padding: 1em;
}

.articleSubheading{
    display: inline-flex;
    opacity: 0.6;
}

.subheadingAuthor, .subheadingDate{
    margin-right: 15%;
    margin-top: 0px;
}

.loadingChild{
    margin: auto;
    padding: 20%;
    display: flex;
    flex-direction: column; 
}

#errorGears{
    background-color: rgb(109, 62, 152);
    opacity: 0.6;
    width: 20%;
    
}

#errorMsg{
    text-align: center;
}

.commentCard{
    color: antiquewhite;
    background-color: rgb(103, 95, 111);
    width: 20vw;
    border-radius: 1vw;
    margin-bottom: 2vh;
    border-color: rgb(138, 125, 150);
    border-width: 0.4em;
    border-style:ridge;
}

.commentWrapper{
    width: fit-content;
    margin-right: 1em;
    margin-top: 1em;
    opacity: 0.96;
    z-index: 1;
}

.contentWrapper{
    display: flex;
    width: fit-content;
    justify-content: center ;
}
.commentCard p, .commentCard article{
    margin-top: 0.5vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding: 0.3em;
    border-radius: 1em;
}

#voting{
    display: flex;
    width: fit-content;
    margin-right: 0px;
    margin-top: 0.5em;
    margin-left: 0.6em;
}

#voting img, #voting p{
    margin-right: 1em;
    width: 3em
}

#authorDate{
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
    
}

.cardChild{
    font-weight: 250;
    line-height: 2em;
    color: antiquewhite;
    background-color: rgb(83, 72, 83);
}

#authorDate h4{
    background-color: transparent;
    margin-left: 0.8em;
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;

}

#cardChildVotes{
    font-weight: 400;
    font-size: large;
}

#articleVoting{
display: flex;
width: fit-content;
margin:auto;
padding: 1em;
height: 3em;
background-color: rgb(103, 95, 111);
margin-bottom: 1em;
border-radius: 1em;
border-color: rgb(138, 125, 150);
border-width: 0.4em;
border-style: outset;

}

#articleVotes{
text-align: center;
font-size: 2em;
height: 1em;
background-color: transparent;
border-style: none;
position: relative;
bottom: 2.5em;
padding: 0.5em;
margin-right: 0.5em;

}

#articleVoting img{
margin-right: 1em;
width: 3em;
height: 3em;


}

#articleVoting img:active {
background-color: rgb(155, 68, 163);
transition: 0s 0s 1s;
}



#allArtVoting{
    background-color: rgb(132, 113, 142);
    display: flex;
    border-radius: 1em;   
    border-style: inset;
    font-weight: 550;
}

#allArtVoting img{
    width: 2em;
    height: 2em;
    margin-top: 0.7em;
}

.rightCardElements{
    display: flex;
    border-radius: 1em;
    border-color: rgb(138, 125, 150);
    border-width: 0.2em;
    border-style: outset;
}

.newCommentWrapper{
    background-color: rgb(103, 95, 111);
    display: flex;
    justify-content: center;
    width: 44vw;
    height: fit-content;
    margin-top: 1em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    background-color: (109, 62, 152);
    border-width: 0.4em;
    border-style: ridge;
    border-radius: 1em;
    opacity: 0.85;
    
}

.newCommentWrapper button{
    width:8em;
    position: relative;
    top: 1.2em;
}

.posted img:hover {
    background-color: rgb(211, 66, 225);
    transition-delay: 0.2s;
}
.posted img:active {
    background-color: rgb(97, 158, 238);
}

.posted img {
    width: 8em;
    margin-top: 1.5em;
    background-color: aqua;
    padding-right: 0.5em;
    border-radius: 1em;
    border-style: inset;
    border-color: none;
    background-color: rgb(133, 97, 176);
}

.newCommentWrapper textarea{
    width: 85%;
    height: 50%;
    margin-top: 1.8em;
    margin-bottom: 0.6em;
    margin-right: 1.2em;
    margin-left: 1.2em;
    text-align: start;
    font-weight: 600;
    font-size: 20px;
    line-height: 2em;
    resize: none;
    background-color: rgb(128, 102, 160);
    border-radius: 1em;
}

.newCommentWrapper button{
    height: 50%;
    margin-top: 3em;
    margin-right: 2.5em;
    border-radius: 1em;
    background-color: rgb(128, 102, 160);
}


#sendIcon{
    display: relative;
    width: 100%;
    height: 100%;
    border-radius: 1em;
}

#sendIcon:hover{
    background-color: rgb(211, 66, 225);
    transition-delay: 0.2s;
}

#sendIcon:active {
    background-color: rgb(97, 158, 238); 
}

.topicHeadings{
    color: antiquewhite;
    background-color: rgb(103, 95, 111);
    padding: 1em;
    margin-bottom: 1em;
    opacity: 0.7;
    border-radius: 1em;
}
.allTopics p{
    width: 40%;
    text-align: center;
    line-height: 2.6em;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    color:antiquewhite;
    background-color: rgb(103, 95, 111);
    padding: 1em;
    font-size: 1.5em;
    font-weight: 300;
    opacity: 0.9;
    border-radius: 1em;
    border-color: rgb(138, 125, 150);
    border-width: 0.4em;
    border-style: ridge;
}

.topicHeadings h2{
    text-align: center;
}

.topicHeadingsSub {
    text-align: center;
    margin: auto;
}

#errWrapper{
    margin:auto;
}

.wholeTopics{
    display: block;
    text-align: center;
    margin: auto;
    background-color: rgb(159, 123, 204);
    width: 60%;
    margin-top: 1em;
    border-radius: 1em;
    border-color: rgb(138, 125, 150);
    border-width: 0.4em;
    border-style:outset;
    opacity: 0.95;
}

.wholeTopics p:hover{
    background-color: rgb(155, 68, 163);
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}

.wholeTopics button{
    padding: 1.5em;
    font-size: 1em;
}

.headerWrapper{
    display: absolute;
    height: 8em;
}

.headerWrapper nav{
    display: flex;
    justify-content: end;
    margin-right: 8em;
    margin-bottom: 1em;
}

.headerWrapper button{
    margin-left: 2em;
    margin-right: 1em;
    background-color: rgb(128, 102, 160);
    color: antiquewhite;
    width: 6em;
    border-radius: 1em;
    border-style: inset;
    padding: 1em;
    z-index: 3;
    margin-top: -5em;
    margin-bottom: 3em;
}

.headerWrapper button:hover{
    background-color: rgb(155, 68, 163);
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}

#optimisticComment{
    display: flex;
    flex-direction: column;
    border-style: none;
    border-radius: 1em;
    margin-top: 0.6em;
    margin-left: 0.6em;
    margin-right: 0.6em;
}

#postedFeedback{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.allArticlesSub{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: antiquewhite;
    width: fit-content;
    background-color: rgb(103, 95, 111);
    padding: 1em;
    padding-left: 4em;
    padding-right: 4em;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 0.5em;
    opacity: 0.9;
    border-radius: 1em;
}

.allArticlesSub select{
    background-color: rgb(128, 102, 160);
    border-radius: 1em;
    color:antiquewhite;
    font-size: 1.3em;
    padding: 0.2em;
    border-color: rgb(138, 125, 150);
    border-width: 0.2em;
    border-style: inset;
}


.commentCardFailed {
    color: antiquewhite;
    background-color: rgba(157, 0, 0, 0.923);
    width: 20vw;
    border-radius: 1vw;
    margin-bottom: 2vh;
    border-color: rgb(138, 125, 150);
    border-width: 0.4em;
    border-style: ridge;
}

.cardChildFailed {
    font-weight: 250;
    line-height: 2em;
    color: antiquewhite;
    background-color: rgb(128, 5, 5);
}

.commentCardFailed p,
.commentCardFailed article {
    margin-top: 0.5vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding: 0.3em;
    border-radius: 1em;

}

.postedFailed img{
    width: 7.7em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    padding-right: 0.5em;
    border-radius: 1em;
    border-style: inset;
    border-color: none;
    background-color: rgb(157, 0, 0, 0.923);
}

#failedRetry{
    background-color: rgb(133, 97, 176);
}

#trash{
    height: 2.6em;
    margin-left: 1.2em;
    margin-top: 0.3em;
    
}

#allArtVoting button{
    width: 100%;
    height: 90%;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(133, 97, 176);
    opacity: 0.6;
    border-radius: 1em;
    transition: 0s 1s;
}

#allArtVoting button:active{
    background-color: rgb(156, 27, 156);
    transition: 0s; 
}

#commentDeleteButton{
    background-color: rgb(133, 97, 176);
    opacity: 0.6;
    border-radius: 1em;  
    margin-left: 2em;
    margin-bottom: 0.4em;
}

#commentDeleteButton:hover {
    background-color: rgb(156, 27, 156);
    transition: 0s;
}

#commentDeleteButton:active {
    background-color: rgb(156, 36, 27);
    transition: 0s;
}

#homepageArticle{
    width: 35em;
    height: 35em;
    display: inline-flex;
}

#recentsWrapper{
    display: flex;
    margin:auto; 
    flex-wrap: wrap;   
    justify-content: center;
}

#recentHeading{
    color: antiquewhite;
    background-color: rgb(103, 95, 111);
    padding-top: 0.00002vh;
    padding-bottom: 0.00002vh;
    margin-bottom: 1em;
    opacity: 0.9;
    border-radius: 1em;
    width: 60%;
    height: 1.7em;
    margin: auto;
    text-align: center;
    font-size: 2em;
}


#recentCard{
position: relative;
height: 22em;
margin-bottom: 0em;
padding-bottom: 0em;
}

#recentArticleText:hover{
background-color: rgb(155, 68, 163);
transition-delay: 0.2s;
}

#recentArticleText{
    position: absolute;
    text-align: center;
    width: 70%;
    display: inline;
    margin-left: 2em;
    margin-top: 2em;
    opacity: 0.85;
}

.deleteSuccess{
    height: 200px;
    width: 200px;

}

.commentCardDelete{
    color: antiquewhite;
    background-color: rgba(157, 0, 0, 0.923);
    opacity: 0.85;
    width: 20vw;
    height: 8em;
    text-align: center;
    border-radius: 1vw;
    margin-bottom: 2vh;
    border-color: rgb(138, 125, 150);
    border-width: 0.4em;
    border-style:ridge;
}

.cardChildDelete{
    font-weight: 450;
    font-size: 1.5em;
    line-height: 2em;
    height: 2em;
    color: antiquewhite;
    background-color: rgb(83, 72, 83);
}

.commentCardDelete p, .commentCardDelete article{
    position: relative;
    margin: auto;
    width:90%;
    
    margin-top: 1.5em;

    border-radius: 1em;
}